# User-requested outputs/docs
/MA_RFM.pdf
/MA_RFM_re2.pdf
/ma-rfm.tex
/response/
/MA_RFM_clean_version
/tools/


# Files currently larger than 100 MB
/Ex4.3/MA_RFM_5%/M=1600*2_5%/all_mat.npy
/Ex4.3/MA_RFM_5%/M=3200*2_5%/all_mat.npy
/Ex4.3/Noise/noise=0.5%/all_mat.npy
/Ex4.3/Noise/noise=1%/all_mat.npy
/Ex4.3/Noise/noise=10%/all_mat.npy
/Ex4.3/Noise/noise=20%/all_mat.npy
/Ex4.3/Noise/noise=5%/all_mat.npy
/Ex4.4/Noise/noise=0.5%/all_mat.npy
/Ex4.4/Noise/noise=1%/all_mat.npy
/Ex4.4/Noise/noise=10%/all_mat.npy
/Ex4.4/Noise/noise=20%/all_mat.npy
/Ex4.5/MA_RFM_5%/M=3200+1600*2/all_mat.npy
/Ex4.5/Noise/noise=0.5%/all_mat.npy
/Ex4.5/Noise/noise=1%/all_mat.npy
/Ex4.5/Noise/noise=10%/all_mat.npy
/Ex4.5/Noise/noise=20%/all_mat.npy
/Ex4.5/Noise/noise=5%/all_mat.npy
/Ex4.6/noise=5%/sign_distances_test.npy
/Ex4.7/noise=5%/general_cluster_0_sign_distances_test.npy
/Ex4.7/noise=5%/general_cluster_1_sign_distances_test.npy
/Ex4.7/noise=5%/general_cluster_2_sign_distances_test.npy
/Ex4.7/noise=5%/general_cluster_3_sign_distances_test.npy
/Ex4.8/noise=5%/S_basis.npy
/Ex4.8/noise=5%/S_num_0.010000000000000002.npy
/Ex4.8/noise=5%/cells_store.pkl
/Ex4.8/noise=5%/sum_mat_0.010000000000000002.npy
/Ex4.8/noise=5%/sum_mat_5.npy
/Ex4.9/noise=5%/S_basis_store.npy
/Ex4.9/noise=5%/S_num.npy
/Ex4.9/noise=5%/cells_store.pkl
/Ex4.9/noise=5%/g_S1.npy
/Ex4.9/noise=5%/sum_mat.npy
